<header>
    <div class="header-container">
      <div class="header-left">
        <% if (user) { %>
          <span class="welcome-text">Welcome, <span class="username"><%= user.name %></span>!</span>
          <form action="/logout" method="POST">
            <button type="submit" class="logout-btn">Logout</button>
          </form>
        <% } %>
      </div>
    </div>
  </header>