<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">

    <link rel="stylesheet" href="../../css/global/header.css" />
    <link rel="stylesheet" href="../../css/global/page-error.css" />
    <link rel="stylesheet" href="../../css/global/page.css" />
    <title><%= title %></title>
</head>
<body>
    <%- include('../partials/header.ejs', { user: user }) %>
    <h1>Home</h1>

    <% if (typeof error !== 'undefined') { %>
        <div class="message error-message" id="errorMessage">
          <%= error %>
          <button class="close-btn" id="closeButton">&times;</button>
        </div>
    <% } %>

    <script nonce="<%= nonce %>" src="../../js/global/error.js"></script>
</body>
</html>